.title {
	margin-left: 200px;
}

.lineblue {
  fill: steelblue;
  fill-opacity: 0.2;
  stroke: steelblue;
  stroke-width: 4px;
}

.linered {
  fill: red;
  fill-opacity: 0.2;
  stroke: red;
  stroke-width: 4px;
}

.lineyellow {
  fill: yellow;
  fill-opacity: 0.5;
  stroke: yellow;
  stroke-width: 4px;
}

.whitetext {
  color: white;
}

.lineLegend {
   fill: white
}