.title {
	margin-left: 200px;
}

.lineblue {
  fill: steelblue;
  fill-opacity: 0.2;
  stroke: steelblue;
  stroke-width: 4px;
}

.linegreen {
  fill: #10B998;
  fill-opacity: 0.2;
  stroke: #10B998;
  stroke-width: 4px;
}

.linepurple {
  fill: #6044DC;
  fill-opacity: 0.5;
  stroke: #6044DC;
  stroke-width: 4px;
}

.whitetext {
  color: white;
}

.lineLegend {
   fill: white
}