.title {
	margin-left: 200px;
}

.lineblue {
  fill: none;
  stroke: steelblue;
  stroke-width: 4px;
}

.linered {
  fill: none;
  stroke: red;
  stroke-width: 4px;
}

.lineyellow {
  fill: none;
  stroke: yellow;
  stroke-width: 4px;
}