<!doctype html>
<html>
  <div id="data" hidden>{{ data }}</div>
  <div id="predictions" hidden>{{ predictions }}</div>
<head>
  <title>Stock Exchange Predictions</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="{{ url_for('static', filename='utils.js') }}"></script>
  <script src="{{ url_for('static', filename='data.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

  <h1>Stock Exchange Predictions</h1>
  
</body>
</html>