<!doctype html>
<meta charset="utf-8">
<html>
<head>
  <div class="text">
    <title>Stock Exchange Predictions</title>
  </div>
</head>
<body>

  <div class="text">
    <h1 class="title">Stock Exchange Predictions for {{ symbol }}</h1>
    <h3>Indices</h3>
    <form action="IBM">
      <button type="submit">IBM</button>
    </form>
  </div>

  <div id="data" hidden>{{ data }}</div>
  <div id="predictions" hidden>{{ predictions }}</div>
  <div id="smooth_predictions" hidden>{{ smooth_predictions }}</div>
  <div id="quarterly_prediction" hidden>{{ quarterly_prediction }}</div>
  
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="{{ url_for('static', filename='utils.js') }}"></script>
  <script src="{{ url_for('static', filename='data.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <div>
    <button type="button" onclick="light()">Light</button>
    <button type="button" onclick="dark()">Dark</button>
  </div>
  
</body>
</html>